---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/lkrmxse64d8p/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.1; platform ruby/2.4.2; os macOS/17;
      Authorization:
      - Bearer CFPAT-a9ff2f92a9c987c65638fdbee1c88f26b8a4b2ea1b1ef90f77d631c6cbfffdd5
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"b4103f7c6f7ade51c6bcc325b2459929"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35995'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - ebb33e8b191d11baab141e2006e9806c
      X-Iinfo:
      - 7-39579686-39579704 NNNN CT(19 43 0) RT(1532306093417 99) q(0 0 0 -1) r(2
        2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 3,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "lkrmxse64d8p"
                  }
                },
                "id": "testable",
                "type": "ContentType",
                "createdAt": "2018-07-20T16:50:56.009Z",
                "updatedAt": "2018-07-20T16:58:07.477Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7n1UBaaB6uqpJbXAnlaZgA"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7n1UBaaB6uqpJbXAnlaZgA"
                  }
                },
                "publishedCounter": 6,
                "version": 12,
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7n1UBaaB6uqpJbXAnlaZgA"
                  }
                },
                "publishedVersion": 11,
                "firstPublishedAt": "2018-07-20T16:50:56.170Z",
                "publishedAt": "2018-07-20T16:58:07.477Z"
              },
              "displayField": "title",
              "name": "Testable",
              "description": "",
              "fields": [
                {
                  "id": "title",
                  "name": "Title",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "widgets",
                  "name": "Widgets",
                  "type": "Array",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false,
                  "items": {
                    "type": "Link",
                    "validations": [
                      {
                        "linkContentType": [
                          "widget"
                        ]
                      }
                    ],
                    "linkType": "Entry"
                  }
                },
                {
                  "id": "product",
                  "name": "Product",
                  "type": "Link",
                  "localized": false,
                  "required": false,
                  "validations": [
                    {
                      "linkContentType": [
           [...]
