---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/y3a9myzsdjan/environments/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.8.2; platform ruby/2.4.2; os macOS/17;
      Authorization:
      - Bearer CFPAT-a8db6ef53f1a248131f6fccffe748ec20fae6493b647aa317bf6933745facee6
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"93e72f0995a4e562d16025d8ab091bdc"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 9432fbe3d9b19c88ea38e5e4a595ec26
      X-Iinfo:
      - 9-65220939-65220951 NNNN CT(1 1 0) RT(1558804763057 63) q(0 0 0 -1) r(0 0)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"master",
          "sys":{
            "type":"Environment",
            "id":"master",
            "version":1,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"y3a9myzsdjan"
              }
            },
            "status":{
              "sys":{
                "type":"Link",
                "linkType":"Status",
                "id":"ready"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"7mpVTy16YTWTkVoEtxgfFe"
              }
            },
            "createdAt":"2018-04-14T00:43:56Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"7mpVTy16YTWTkVoEtxgfFe"
              }
            },
            "updatedAt":"2018-04-14T00:43:56Z"
          }
        }

  recorded_at: Sat, 25 May 2019 17:19:23 GMT
recorded_with: VCR 4.0.0
