---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/lkrmxse64d8p
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.1; platform ruby/2.4.2; os macOS/17;
      Authorization:
      - Bearer CFPAT-a9ff2f92a9c987c65638fdbee1c88f26b8a4b2ea1b1ef90f77d631c6cbfffdd5
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"c52f61517c43318550d9441468f61419"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35979'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 0e7e18b91b59856768b4a6a05550f52b
      X-Iinfo:
      - 9-195820017-195820024 NNNN CT(0 0 0) RT(1533841223348 67) q(0 0 0 -1) r(0
        0) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"development",
          "sys":{
            "type":"Space",
            "id":"lkrmxse64d8p",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"7n1UBaaB6uqpJbXAnlaZgA"
              }
            },
            "createdAt":"2018-07-20T16:50:14Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"7n1UBaaB6uqpJbXAnlaZgA"
              }
            },
            "updatedAt":"2018-07-20T16:50:14Z"
          }
        }

  recorded_at: Thu, 09 Aug 2018 19:00:23 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/lkrmxse64d8p/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.1; platform ruby/2.4.2; os macOS/17;
      Authorization:
      - Bearer CFPAT-a9ff2f92a9c987c65638fdbee1c88f26b8a4b2ea1b1ef90f77d631c6cbfffdd5
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"3fafcbac0675da7d20de215088a87557"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35978'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '8'
      X-Contentful-Request-Id:
      - a2493d086549dab1ed815a4a64d0779c
      X-Iinfo:
      - 4-203918536-203918551 NNNN CT(0 2 0) RT(1533841223522 64) q(0 0 0 -1) r(1
        1) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 5,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "lkrmxse64d8p"
                  }
                },
                "id": "widget",
                "type": "ContentType",
                "createdAt": "2018-07-20T16:51:16.575Z",
                "updatedAt": "2018-07-20T16:51:16.734Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7n1UBaaB6uqpJbXAnlaZgA"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7n1UBaaB6uqpJbXAnlaZgA"
                  }
                },
                "publishedCounter": 1,
                "version": 2,
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7n1UBaaB6uqpJbXAnlaZgA"
                  }
                },
                "publishedVersion": 1,
                "firstPublishedAt": "2018-07-20T16:51:16.734Z",
                "publishedAt": "2018-07-20T16:51:16.734Z"
              },
              "displayField": "title",
              "name": "Widget",
              "description": "",
              "fields": [
                {
                  "id": "title",
                  "name": "Title",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false
                }
              ]
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "lkrmxse64d8p"
                  }
                },
                "id": "product",
                "type": "ContentType",
                "createdAt": "2018-07-20T16:52:20.890Z",
                "updatedAt": "2018-07-20T16:59:57.545Z",
          [...]
