---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/lkrmxse64d8p/environments/master
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.11.0; platform ruby/2.6.2; os macOS/17;
      Authorization:
      - Bearer CFPAT-JbFovzp93MzMCeNZHfKDhkVn8R2VgK9zMM-HiTXMtKY
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"015ac29ea46aa74ebdd2085da85d53a7"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - c49e3ee56a3c
      - f16362b6626cb7c85a49
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 4-89545787-89545798 NNNN CT(9 3 0) RT(1581600538094 73) q(0 0 0 -1) r(1 1)
        U5
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"master",
          "sys":{
            "type":"Environment",
            "id":"master",
            "version":1,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"lkrmxse64d8p"
              }
            },
            "status":{
              "sys":{
                "type":"Link",
                "linkType":"Status",
                "id":"ready"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"7n1UBaaB6uqpJbXAnlaZgA"
              }
            },
            "createdAt":"2018-07-20T16:50:14Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"7n1UBaaB6uqpJbXAnlaZgA"
              }
            },
            "updatedAt":"2018-07-20T16:50:14Z"
          }
        }

  recorded_at: Thu, 13 Feb 2020 13:28:58 GMT
recorded_with: VCR 5.0.0
