---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/lkrmxse64d8p/environments/master
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.11.0; platform ruby/2.6.2; os macOS/19;
      Authorization:
      - Bearer CFPAT-hL_19QnhbVE0IcoZ0Z7owvJTN9Q4716CTkVXu6Mz2Tc
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"015ac29ea46aa74ebdd2085da85d53a7"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      Ful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - f8f7ff3beb852c531c12afb26c4a3564
      X-Contentful-Route:
      - "/spaces/:space_id/environments/:id"
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 6-19122713-19122727 NNNY CT(0 0 0) RT(1608124450879 63) q(0 0 0 -1) r(2 2)
        U5
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"master",
          "sys":{
            "type":"Environment",
            "id":"master",
            "version":1,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"lkrmxse64d8p"
              }
            },
            "status":{
              "sys":{
                "type":"Link",
                "linkType":"Status",
                "id":"ready"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"7n1UBaaB6uqpJbXAnlaZgA"
              }
            },
            "createdAt":"2018-07-20T16:50:14Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"7n1UBaaB6uqpJbXAnlaZgA"
              }
            },
            "updatedAt":"2018-07-20T16:50:14Z"
          }
        }

  recorded_at: Wed, 16 Dec 2020 13:14:11 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/lkrmxse64d8p/environments/master/content_types
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.11.0; platform ruby/2.6.2; os macOS/19;
      Authorization:
      - Bearer CFPAT-hL_19QnhbVE0IcoZ0Z7owvJTN9Q4716CTkVXu6Mz2Tc
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"9192412404959167062"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35998'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '8'
      X-Contentful-Request-Id:
      - 7e0f4eade42800e5b
      - 8b6a6e2fda54693
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/content_types"
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 13-156759856-156759874 NNNY CT(0 0 0) RT(1608124451219 58) q(0 0 0 -1) r(2
        2) U5
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 7,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "lkrmxse64d8p"
                  }
                },
                "id": "product",
                "type": "ContentType",
                "createdAt": "2018-07-20T16:52:20.890Z",
                "updatedAt": "2020-12-15T22:09:38.152Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "publishedVersion": 15,
                "publishedAt": "2020-12-15T22:09:38.152Z",
                "firstPublishedAt": "2018-07-20T16:52:21.161Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7n1UBaaB6uqpJbXAnlaZgA"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7n1UBaaB6uqpJbXAnlaZgA"
                  }
                },
                "publishedCounter": 8,
                "version": 16,
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7n1UBaaB6uqpJbXAnlaZgA"
                  }
                }
              },
              "displayField": "title",
              "name": "Product",
              "description": "",
              "fields": [
                {
                  "id": "title",
                  "name": "Title",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "subtitle",
                  "name": "Subtitle",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "callsToAction",
                  "name": "Calls to Action",
                  "type": "Array",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false,
                  "items": {
                    "type": "Link",
                    "validations": [
                      {
                        "linkContentType": [
                          "cta"
                        ]
                      }
                    ],
                    "linkType": "Entry"
                  }
                },
                {
                  "id": "logo",
                  "name": "Logo",
                  "type": "Link",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false,
                  "linkType": "Asset"
                },
                {
                  "id": "body",
                  "name": "Body",
                  "type": "RichText",
                  "localized": false,
                  "required": false,
                  "validations": [
                    {
                      "nodes": {}
                    }
                  ],
                  "disabled": false,
                  "omitted": false
                }
              ]
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "lkrmxse64d8p"
                  }
                },
                "id": "cta",
                "type": "ContentType",
                [...]
