---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/lkrmxse64d8p/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.1; platform ruby/2.4.2; os macOS/17;
      Authorization:
      - Bearer CFPAT-a9ff2f92a9c987c65638fdbee1c88f26b8a4b2ea1b1ef90f77d631c6cbfffdd5
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"3fafcbac0675da7d20de215088a87557"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35996'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 43bfc50a248e55286e2cb77c5f5b90be
      X-Iinfo:
      - 4-272252818-272253393 NNNN CT(0 0 0) RT(1534258195445 2962) q(0 0 0 -1) r(2
        2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 5,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "lkrmxse64d8p"
                  }
                },
                "id": "widget",
                "type": "ContentType",
                "createdAt": "2018-07-20T16:51:16.575Z",
                "updatedAt": "2018-07-20T16:51:16.734Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7n1UBaaB6uqpJbXAnlaZgA"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7n1UBaaB6uqpJbXAnlaZgA"
                  }
                },
                "publishedCounter": 1,
                "version": 2,
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7n1UBaaB6uqpJbXAnlaZgA"
                  }
                },
                "publishedVersion": 1,
                "firstPublishedAt": "2018-07-20T16:51:16.734Z",
                "publishedAt": "2018-07-20T16:51:16.734Z"
              },
              "displayField": "title",
              "name": "Widget",
              "description": "",
              "fields": [
                {
                  "id": "title",
                  "name": "Title",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false
                }
              ]
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "lkrmxse64d8p"
                  }
                },
                "id": "product",
                "type": "ContentType",
                "createdAt": "2018-07-20T16:52:20.890Z",
                "updatedAt": "2018-07-20T16:59:57.545Z",
          [...]
