---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/lkrmxse64d8p/environments/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.10.0; platform ruby/2.4.2; os macOS/17;
      Authorization:
      - Bearer CFPAT-JbFovzp93MzMCeNZHfKDhkVn8R2VgK9zMM-HiTXMtKY
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"015ac29ea46aa74ebdd2085da85d53a7"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 1022d3b17be94b2b47599b2651bf54db
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 2-127138175-127138184 NNNN CT(4 3 0) RT(1575305862518 71) q(0 0 0 -1) r(1
        1) U5
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"master",
          "sys":{
            "type":"Environment",
            "id":"master",
            "version":1,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"lkrmxse64d8p"
              }
            },
            "status":{
              "sys":{
                "type":"Link",
                "linkType":"Status",
                "id":"ready"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"7n1UBaaB6uqpJbXAnlaZgA"
              }
            },
            "createdAt":"2018-07-20T16:50:14Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"7n1UBaaB6uqpJbXAnlaZgA"
              }
            },
            "updatedAt":"2018-07-20T16:50:14Z"
          }
        }

  recorded_at: Mon, 02 Dec 2019 16:57:43 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/lkrmxse64d8p/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.10.0; platform ruby/2.4.2; os macOS/17;
      Authorization:
      - Bearer CFPAT-JbFovzp93MzMCeNZHfKDhkVn8R2VgK9zMM-HiTXMtKY
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"14326958410898927519"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35998'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '8'
      X-Contentful-Request-Id:
      - 6139cc0535d06527d61a76e35721a076
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 10-270926048-270926060 NNNY CT(0 0 0) RT(1575305862699 47) q(0 0 0 -1) r(2
        2) U5
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 6,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "lkrmxse64d8p"
                  }
                },
                "id": "testable",
                "type": "ContentType",
                "createdAt": "2018-07-20T16:50:56.009Z",
                "updatedAt": "2018-07-20T16:58:07.477Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "publishedVersion": 11,
                "publishedAt": "2018-07-20T16:58:07.477Z",
                "firstPublishedAt": "2018-07-20T16:50:56.170Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7n1UBaaB6uqpJbXAnlaZgA"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7n1UBaaB6uqpJbXAnlaZgA"
                  }
                },
                "publishedCounter": 6,
                "version": 12,
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7n1UBaaB6uqpJbXAnlaZgA"
                  }
                }
              },
              "displayField": "title",
              "name": "Testable",
              "description": "",
              "fields": [
                {
                  "id": "title",
                  "name": "Title",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "widgets",
                  "name": "Widgets",
                  "type": "Array",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false,
                  "items": {
                    "type": "Link",
                    "validations": [
                      {
                        "linkContentType": [
                          "widget"
                        ]
                      }
                    ],
                    "linkType": "Entry"
                  }
                },
                {
                  "id": "product",
                  "name": "Product",
                  "type": "Link",
                  "localized": false,
                  "required": false,
                  "validations": [
                    {
                      "linkContentType": [
           [...]
