---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/lkrmxse64d8p/environments/master/content_types
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.11.0; platform ruby/2.4.2; os macOS/18;
      Authorization:
      - Bearer CFPAT-af77ae5f40bdeb00cfe32a39c0a288289f55a3dd48af0537216ee55548297272
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"3817321077357446647"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35997'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '7'
      X-Contentful-Request-Id:
      - c8b48e5e1f24e45a307bb85881bdf278
      X-Iinfo:
      - 4-3577766-3577775 NNNN CT(0 0 0) RT(1569438972743 57) q(0 0 0 -1) r(0 0) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 6,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "lkrmxse64d8p"
                  }
                },
                "id": "article",
                "type": "ContentType",
                "createdAt": "2018-08-01T18:14:36.413Z",
                "updatedAt": "2019-06-07T14:32:25.870Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "publishedVersion": 11,
                "publishedAt": "2019-06-07T14:32:25.870Z",
                "firstPublishedAt": "2018-08-01T18:14:36.656Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7n1UBaaB6uqpJbXAnlaZgA"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7n1UBaaB6uqpJbXAnlaZgA"
                  }
                },
                "publishedCounter": 6,
                "version": 12,
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7n1UBaaB6uqpJbXAnlaZgA"
                  }
                }
              },
              "displayField": "title",
              "name": "Article",
              "description": "",
              "fields": [
                {
                  "id": "title",
                  "name": "Title",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "author",
                  "name": "Author",
                  "type": "Link",
                  "localized": false,
                  "required": false,
                  "validations": [
                    {
                      "linkContentType": [
                        "author"
                      ]
                    }
                  ],
                  "disabled": false,
                  "omitted": false,
                  "linkType": "Entry"
                },
                {
                  "id": "widgets",
                  "name": "Widgets",
                  "type": "Array",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": [...]
